
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>University Portal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">University Portal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/student/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/student/search_university">Search University</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Log out</a>
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <div class="text-center" style="margin-top: 3%;">
        <h1>University Detail</h1>
        <br>
        <form th:object="${universityDetail}">
            <h5 th:inline="text" >
                University Name: <small th:text="*{universityName}"></small>
            </h5>
            <h5 th:inline="text" >
                Description: <small th:text="*{universityDescription}"></small>
            </h5>
            <br>
            <h6> Programs Available </h6>
            <table border="1" class="table table-striped table-responsive-md">
                <thead>
                <tr>
                    <th>Program Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="program : ${programList}">
                    <td th:text="${program.name}"></td>
                    <td><a th:href="@{/student/load_application/{id}(id=${program.id})}" class="btn btn-info">Apply</a></td>
                </tr>
                </tbody>

            </table>
        </form>
    </div>
</div>
</body>
</html>